
 .card{
      background-color: rgba(255, 255, 255, 0.9);
      width: 600px;
      height : 400px;
      padding: 20px;
      vertical-align: middle;
      border-radius: 10px;
      justify-content: center;
      margin-top: 10%;
    }

    .card-title{
        text-align: center;
    }

    .btn-primary{

        margin-top: 30px;
        align : center;
        margin-left: 40%;
    }